{% extends "base.html" %}

{% block title %}-create post{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    {% endif %}

    <h2>Création d'une publication</h2>
    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form_post.as_p}}
        {{ form_media.management_form }}
        {% for form in form_media %}
            {{ form.as_p }}
        {% endfor %}
        <input type="submit" value="Ajouter une publication">
    </form>
  
{% endblock content %}
  
