<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social network{% block title %} {% endblock title %}</title>
</head>
<body>
    {% block content %}
      
    {% endblock content %}

    
    
      <script>
        // vérifie que le template a chargé les éléments
        document.addEventListener('DOMContentLoaded', function(e){
          function getCookie(name, value=undefined){
            if(value == undefined){
              const cookies = document.cookie.split(";")
              for(const item of cookies){
                const [key, value] = item.split("=")
                if(key == name){
                  return value
                }
              }
            }
            return null
          }
          {% block dom %}
        
          {% endblock dom %}
        })
      </script>
</body>
</html>